@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  color: #ffffff; }

header {
  background: url(../img/baner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.logo img {
  float: left;
  padding: 50px 0; }

.logo {
  color: #ffffff;
  font-family: 'Merriweather', serif; }

.logo p {
  line-height: 50px;
  padding: 50px;
  font-size: 24px; }

.slogan {
  max-width: 440px;
  padding: 200px 0; }

.slogan p {
  font-size: 16px; }

.slogan h1 {
  font-size: 60px;
  font-weight: 200; }

.start, .start h2, .start p {
  color: #959595;
  font-size: 35px;
  position: relative; }

.start p {
  font-size: 16px; }

.start-text1 {
  margin-top: 110px; }

.start-text2 {
  margin-top: 320px; }

.phone img {
  position: absolute;
  top: 30%;
  left: 45%; }

.galeria {
  margin: 100px 0; }

.box1, .box2, .box3, .box4, .box5 {
  background-color: #f5989d;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  height: 280px; }

.box1 h1, .box2 h1, .box3 h1, .box4 h1, .box5 h1 {
  font-weight: 200; }

.box1 p, .box2 p, .box3 p, .box4 p, .box5 p {
  margin: 30px 0; }

.box1 p span, .box2 p span, .box3 p span, .box4 p span, .box5 p span {
  font-weight: bold; }

.box2 {
  background-color: #615f7d; }

.box3 {
  background: url(../img/baner2.gif); }

.box4 {
  background: url(../img/baner6.jpg); }

.box4 p {
  width: 435px; }

.box5 {
  background-color: #82ca9c; }

.details-col {
  color: #959595;
  padding: 0 0 100px 0; }

.details h1 {
  font-size: 35px;
  color: #959595;
  padding: 5% 1%; }

.details-col h2 {
  padding: 15% 0%; }

.more {
  background: url(../img/baner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.more h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 5% 0; }

.more-text {
  padding: 400px 0 100px 0;
  width: 500px; }

.reasons {
  background-color: #82ca9c;
  width: 100%;
  padding: 100px 0; }

.reasons h1 {
  margin: 5% 0; }

.solo-plan {
  background-color: #f6f7fa;
  color: #222626;
  padding: 100px; }

.solo, .plan {
  padding: 50px; }
  .solo:hover, .plan:hover {
    box-shadow: 0px 0px 45px #e5e6eb; }

.solo-plan h2 {
  margin: 1% 0 5% 0; }

.green {
  background: #82ca9c;
  border: 0px solid;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  margin: 5% 0%;
  padding: 10px 20px; }

.legacy, .most {
  background: #e1e1e1;
  border: 0px solid;
  border-radius: 2px;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 5px; }

.most {
  background: #a98cc9; }

footer {
  background: #192431;
  padding: 100px 0; }

.search p {
  color: #536e92; }

#search {
  height: 50px;
  width: 400px;
  border: 0px solid; }

.fa {
  background: #82ca9c;
  margin-left: 5px;
  cursor: pointer; }

.fa-check {
  padding: 17px;
  border: 0px solid; }

.footer2 {
  line-height: 20px; }

/*# sourceMappingURL=style.css.map */